<h1>Member page<h1>
<div class="container-fluid"> 
  <div class="members-page">  
        <div class="container h-100">
            <div class="row justify-content-left h-100">
    {{#with member}}
<p>{{this.name}}</p>
<p><b>Birthday: </b>{{this.birthday}}</p>
<p><b>Phone Number: </b><i>{{this.phone_Number}}</i></p>
<p><b>Email: </b><i>{{this.e_mail}}</i></p>
{{/with}}
</div>
</div>
        <div class="container h-100">
            <div class="row justify-content-right h-100">
                
    {{#with member}}
  <p>Goals Completed: </p>
  {{this.goals}}
  {{/with}}
  
</div>
</div>
</div>
</div>

