<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"><img src="/images/planitlogotext.png" width="60" height="60" alt="logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/familysignup">Signup</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/private">Family Planner</a>
      </li>
          <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>  
<div class="container-fluid">    
 <main role="main" class="inner cover">
      <h1>Welcome {{family.familyName}} Family</h1>
      <hr>
        <h2>{{family.familyName}} Goals</h2>
  <div class="page">
  <div class="col-sm-2">         
  {{#each family.members}}
    <p><a class= "links" href="/private/{{this._id}}">{{this.name}}</a></p>
       {{/each}}
       </div>
  <div class="chart col-sm-10"> 
 {{#each chartInfo}}
  <div>
  <div class="progress">
  <div class="progress-bar" role="progressbar" style="width: {{percent}}%" aria-valuenow="{{percent}}" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<p>{{percent}} % goals completed</p> 
  </div>
   {{/each}}
</div>
</div>
</div>
    <div class="options">
    <div><p> <a class= "links" href="addgoal">Launch your Goals!</a></p></div>
    <div><p><a class= "links" href="addmember">Add a family member here</a></p></div>
    <div><p><a class= "links" href="goalsList">Goals List</a></p></div>  
    </div>
     </main>
</div>
</body>
</html>


