<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
<div class="container-fluid">    
 <main role="main" class="inner cover">
      <h1>Welcome {{family.familyName}} Family</h1>
      <hr>
        <h2>{{family.familyName}} Goals</h2>
  <div class="page">
  <div class="col-sm-4">         
  {{#each family.members}}
    <p><a class= "links" href="/private/{{this._id}}">{{this.name}}</a></p>
       {{/each}}
       </div>
  <div class="chart col-sm-8"> 
 {{#each chartInfo}}
  <div>
  <div class="progress">
  <div class="progress-bar" role="progressbar" style="width: {{percent}}%" aria-valuenow="{{percent}}" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<p>{{percent}} % goals completed</p> 
  </div>
   {{/each}}
</div>
</div>
</div>
    <div class="options">
    <div><p> <a class= "links" href="addgoal">Launch your Goals!</a></p></div>
    <div><p><a class= "links" href="addmember">Add a family member here</a></p></div>
    <div><p><a class= "links" href="goalsList">Goals List</a></p></div>  
    </div>
     </main>
</div>
</body>
</html>


