<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
<div class="container-fluid">    
 <main role="main" class="inner cover">
      <h1>Welcome {{family.familyName}} Family</h1>
      <p> Here you can create family member pages, set goals, and see the progress of your family goals.</p>
      <hr>
        <h2>{{family.familyName}} Goals</h2>
  <p>Displays amount of goals completed by each member</p> 
  <div class="chart">  
  {{#each chartInfo}}
  <div><p><a href="/private/{{this._id}}">{{this.name}}</a></p></div>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: {{percent}}%" aria-valuenow="{{percent}}" aria-valuemin="0" aria-valuemax="100">
  </div>
</div>
   {{/each}}
</div>
</div>
    <div class="options">
    <div><p> <a href="addgoal">Create your Goal!</a></p></div>
    <div><p><a href="addmember">Add a family member here</a></p></div>
    <div><p><a href="goalsList">Goals List</a></p></div>  
    </div>
     </main>
</div>
</body>
</html>


