<div class="goalsList">

<form action="/addGoalToMember"  method="post">

<label for="goal">THE GOALS</label>
<select multiple class="form-control form-control-lg" name="goal" id="goalsList">
<ul>
{{#each goalsList}}
<li role="option"><option value="{{_id}}"></li>
{{goal}}
<p id="demo"></p>
</option>
{{/each}}
</ul>
</select>

<div class="memberSelect">
<label for="member">who is getting the point?</label>

<select name="member" id="">
  
  {{#each family.members}}
  <option value="{{_id}}">{{name}}</option>
  {{/each}}
 
</select>

<button type="submit">get the goal</button>
</div>
</form>


</div>
<script>
var list = document.querySelector('ul');

list.addEventListener('click', function(ev) {
  if (ev.target.tagName === 'LI') {

   ev.target.classList.toggle('checked');
   var form= document.getElementById('try');
form.style.display='block';
    
  }
}, false);
  /*var deadline = {{limit}};
var x = setInterval(function() { 
var now = new Date().getTime(); 
var t = deadline - now; 
var days = Math.floor(t / (1000 * 60 * 60 * 24)); 
var hours = Math.floor((t%(1000 * 60 * 60 * 24))/(1000 * 60 * 60)); 
var minutes = Math.floor((t % (1000 * 60 * 60)) / (1000 * 60)); 
var seconds = Math.floor((t % (1000 * 60)) / 1000); 
document.getElementById("demo").innerHTML = days + "d "  
+ hours + "h " + minutes + "m " + seconds + "s "; 
    if (t < 0) { 
        clearInterval(x); 
        document.getElementById("demo").innerHTML = "EXPIRED"; 
    } 
}, 1000)*/
</script>

